* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  background-color: #050505;
  color: #dddddd;
  font-family: 'Courier Prime', 'Courier New', monospace;
  line-height: 1.6;
  padding: 20px;
}

.container {
  max-width: 650px;
  margin: 0 auto;
}

header {
  margin-bottom: 60px;
  padding-bottom: 20px;
  border-bottom: 1px solid #333;
}

h1, h2, h3, h4, h5, h6 {
  color: #ffffff;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  font-weight: normal;
}

h1 {
  font-size: 2em;
  margin-top: 0;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

a {
  color: #00ff00;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav {
  margin-bottom: 40px;
}

nav a {
  margin-right: 20px;
  font-size: 1em;
}

p {
  margin-bottom: 1em;
}

ul, ol {
  margin-bottom: 1em;
  margin-left: 2em;
}

li {
  margin-bottom: 0.5em;
}

code {
  background-color: #0a0a0a;
  padding: 2px 6px;
  border: 1px solid #222;
  font-family: 'Fira Code', 'Courier New', monospace;
  font-size: 0.9em;
}

pre {
  background-color: #0a0a0a;
  border: 1px solid #222;
  padding: 15px;
  overflow-x: auto;
  margin-bottom: 1em;
}

pre code {
  background: none;
  border: none;
  padding: 0;
}

blockquote {
  border-left: 3px solid #00ff00;
  padding-left: 20px;
  margin: 1em 0;
  font-style: italic;
  color: #bbbbbb;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 1em 0;
}

hr {
  border: none;
  border-top: 1px solid #333;
  margin: 2em 0;
}

footer {
  margin-top: 80px;
  padding-top: 20px;
  border-top: 1px solid #333;
  font-size: 0.9em;
  color: #888;
}

.post-list {
  list-style: none;
  margin-left: 0;
}

.post-list li {
  margin-bottom: 1.5em;
}

.post-date {
  color: #888;
  font-size: 0.9em;
  margin-right: 10px;
}

.post-meta {
  color: #888;
  font-size: 0.9em;
  margin-bottom: 1em;
}

@media (max-width: 700px) {
  html {
    font-size: 16px;
  }

  body {
    padding: 15px;
  }

  nav a {
    display: block;
    margin-bottom: 10px;
    margin-right: 0;
  }
}
